@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{font-family: 'Oswald', sans-serif;}

.color-white{color: #e8e6e6;}
#carouselExampleControls::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: #000000e0;
}
.h-100vh{height: 100vh;}

#carouselExampleControls{z-index: -1;}
.social-media-icon a{color: #e8e6e6; transition: 0.5s;     margin-right: 20px;}
.social-media-icon a:hover{text-decoration: none; color: #ea490e; transition: 0.5s;}
.social-media-icon a:hover span{background: #ea490e; color: #e8e6e6; transition: 0.5s;}
.social-media-icon a span{    background: #e8e6e6;
    color: #222;
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;}

    .coming-soon-txt{color: #e8e6e6; font-size: 60px; }
    .service-section{ background: #fff;
        border: 4px solid #e8e6e6;
        border-radius: 5px;
        overflow: auto; transition: 0.5s;}


.service-section img{    width: 300px;
    height: 350px;
    float: left;
    padding-right: 20px;}
    .service-section h2{    padding-top: 25px;}

   .service-txt p {font-family: 'PT Sans', sans-serif; line-height: 28px;
    color: #222;}

   .orange-color{ color: #ea490e;}
   .service-section:hover{transform: translateY(-25px); transition: 0.5s;}











        

    @media (min-width: 1200px){
.container {
    max-width: 1299px;
}}
